<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex101 Clone</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2>Email Validator</h2>
        <div class='container mt-5'>
            <form action="{{ url_for('validate_email') }}" method="post">
                <div class="form-group">
                    <label for="email">Enter the Email:</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ email }}" required>
                </div>
                <button type="submit" class="btn btn-primary" value="Validate">Validate</button>
            </form>
        </div>
        <div class='container mt-5'>
            {% if email and is_valid %}
                <div class="alert alert-{{ 'success' if is_valid else 'danger' }}" role="alert">
                    <h4 class="alert-heading">Email Validation Result:</h4>
                    <ul class="list-group"><p>The email address "{{ email }}" is {{ 'valid' if is_valid else 'invalid' }}.</p></ul>
                    <a href="{{ url_for('validate_email') }}" class="btn btn-primary mt-3">Try Again</a>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

